html{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    width:100vw;
    height:100vh;
}
/* 侧边栏样式 */
aside{
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    width:20vw;
    background-color: rgb(246, 246, 246);
}
    
    /* AI头像与名字样式 */
section.AI{
    width:100%;
    height:4rem;
    border:1px solid rgb(0,0,0,0);
}
img.head{
    height:2rem;
    margin-top: 1rem;
    float:left;
    border-radius:3rem;
    object-fit:cover;
}
p.name{
    font-weight: bold;
    font-size: 1.2rem;
    margin-top:1.4rem;
    text-align: left;
}


    /* 菜单栏样式 */
aside section {
    top:3rem;
    height:2.2rem;
    border:2px solid rgb(0,0,0,0);
    border-radius: 0.8rem;
}
aside div > section img{
    margin-top: 0.5rem;
    height:1.2rem;
    float:left;
}
aside section p{
    text-align: left;
    font-size: 1rem;
    margin-top: 0.475rem;
    margin-bottom:0.6rem;
}
aside div > section{
    margin:2px;
}
.about{
    position:absolute;
    width:19vw;
    margin-top:calc(100vh - 4rem - 1.5rem);
}


.newConversation{
    background-color: rgb(0, 50, 255,0.1);
    ;
    color:rgb(0, 50, 255);
}
.newConversation:hover{
    background-color: rgb(0, 50, 255,0.15);
    cursor:pointer;
}
.menu{
    background-color: rgba(168, 162, 162, 0);
}
.menu:hover{
    background-color: rgba(168, 162, 162, 0.15);
    cursor:pointer;
}

/* AI主体界面 */
main{
    position: absolute;
    top:0;
    left:20vw;
    width:80vw;
    height:100vh;
    border:1px solid rgb(0,0,0,0);
    
}
div.main{
    position: absolute;
    top:10%;
    left:5%;
}
div.mainFunction{
    width:65vw;
    height:60vh;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-around;
    border:1px solid rgb(0,0,0,0);
}
div.mainFunction section{
    width:45%;
    height:25%;
    border:1px solid rgb(0,0,0,0.2);
    border-radius: 20px;
}

main div > section img{
    margin-top: 1rem;
    margin-left:0.5rem;
    height:1.5rem;
    float:left;
}
p[class$="Content"]{
    margin-left:2rem;
}

div.mainFunction section:hover{
    box-shadow: 2px 5px 10px rgba(0,0,1,0.1);
    cursor:pointer;
}